

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color: #fff !important;
  
}

.css-1vw5i9y-MuiButtonBase-root-MuiTab-root.Mui-selected {
  opacity: 1;
  color: red !important;
}

.css-1izfg5m {
  width: 100% !important;
}